@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply max-w-[1200px] mx-auto;
}

header {
  @apply h-[4rem] w-full px-3 shadow-md;
}

h2 {
  @apply text-2xl p-5 font-bold md:text-4xl;
}

.cards {
  @apply grid grid-cols-1 md:grid-cols-4 gap-4 mb-10;
}

.highlight {
  @apply bg-slate-400;
}

.hero picture {
  @apply -z-10 object-cover;
}

.hero img {
  @apply w-full h-full object-cover;
}

main > div > p {
  @apply p-5;
}

.columns {
  @apply p-5 md:py-5 md:px-0;
}

.column {
  @apply flex flex-col;
  @apply md:flex-row;
}

.column > div {
  @apply md:flex-1;
}

.column div:has(picture) {
  @apply order-first md:order-none;
}

.column div:has(p) {
  @apply order-last md:order-none md:flex md:flex-col md:justify-center;
}

.column div:has(p):nth-of-type(2) {
  @apply items-end;
}

.column > div > p {
  @apply text-lg font-bold py-3;
}

.column div > p a {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: blue;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

.column div > p em a {
  background-color: black;
}

.column li {
  @apply list-disc ml-5;
}

.cards {
  @apply px-5 py-5;
}

footer {
  @apply pb-5 px-5 w-full;
}

footer > div {
  @apply max-w-[1200px] mx-auto;
}
